body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  color: #40514E;
  background-color: #e4fbff;
}


/* text align in body will center all the block elements to center if they
are not having a specified width if they are having a specific width then they
are not going to be centered.*/
h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

/* em will get inherited in top i.e if we use em in body as well as p or h then the
font size of p and h will be much bigger then you thought of because it
will add em from body to p and h. and same with % also. But if we use rem instead of
em then it will ignore the settings of font-size of body.*/
h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a{
  color: #11999E ;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #eaf6f6;
}

p {
  font-weight: 200;
}
hr{
  border: dotted #92967d 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}


/* span is inline element whereas p , h are block elments but we can change the display of these with
display properity i.e{ display : inline;}  very useful*/
/*There is also a inline-block display  in which element is block but we can change width which we
cannot do in block element so it is kind of mix of these two */
/* last one is display:none it simply removes the element and its space also but there is something
visibility:hidden which is same but it dosent delete the space .*/
/* absolute position is relative to whole block which the thing is in and relative
position is relative to the position where it is currently . see lec.*/
/* there is also a position : fixed . good for navigaion bar.*/
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top_cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  /* line height is for spacing between text*/
}
.code-img{
  width: 30%;
  float: left;
  margin-right: 30px;
}
.stock-img{
  width: 30%;
  float: right;
  margin-left: 30px;
}
#Stock , #passion{
  text-align: center;
}
.intro{
  width: 20%;
  margin: auto;
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}
.contact-message{
  width: 15%;
  margin: 40px auto 60px;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999e);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999e);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999e);
  background-image: -o-linear-gradient(top, #11CDD4, #11999e);
  background-image: linear-gradient(to bottom, #11CDD4, #11999e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyright{
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.image{
  width: 15%;
}
