.red{
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: red;
}
.blue{
  height: 100px;
  width: 100px;
  position: absolute;
  left: 100px;
  top: 100px;
  background-color: blue;
}
.yellow{
  height: 100px;
  width: 100px;
  position: absolute;
  left: 200px;
  top: 200px;
  background-color: yellow;
}
